.exp{
    padding: 10em;
    background-color: #383838;
    color: rgba(82,34,195,1);
    border-radius: 2em;
    margin: 10em;
    display: inline-block;
    box-shadow: 0 2px 2px 2px rgba(74, 70, 70, 0.23);
   
}
.expul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.expul li{
    display: inline-block;
    padding: 2em;
    text-align: left;
}
